@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Specify the layout page
}

<div class="container mt-4">
    <h1>Welcome to Phoenix Bank</h1>
    <p>Your trusted financial partner.</p>
</div>
